<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Login Form</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>

    <div class ="login">
		<h2>Login</h2>
		<form>
			<div class="user">
				<input type="text" name="" required="" id="email" placeholder="Type your username">
				<label>Username</label>
			</div>
			<div class="user">
					<input type="password" name="" required="" id="password" placeholder="Type your password">
					<label>Password</label>
			</div>
			<right>
			<div class = "userf">
				<label>Forgot password?</label></p>
			</div>
			</right>
			<a href="#"></a>
			<span></span>
			<button>Login</button>
			</a>
			<br><br><br><br><br><br><br><br><br>

			<div class = "sign">
				<label>Or sign in Using</label>
				<a href="#">SIGN UP</a>
			</div>
		</form>

        <p id="message-1"></p>

	</div>

    <script src="/js/app.js"></script>

</body>
</html>